<footer class="footer footer-dark" th:fragment="footer">

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img th:src="@{/client/images/demos/demo-10/1337_DaKL.jpg}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Cảm ơn quý khách đã quan tâm và mua sản phẩm cho chúng tôi.</p>

                        <div class="social-icons">
                            <a href="https://www.facebook.com/1337.DaKL.03" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="https://www.instagram.com/_1337dakl_/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="https://www.youtube.com/@1337dakl" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                            <a href="https://github.com/1337DaKL" class="social-icon" title="GitHub" target="_blank">
                            <i class="icon-github"></i>
</a>

                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Liên kết hữu ích</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">Giới thiệu về 1337_DaKL</a></li>
                            <li><a href="#">Cách mua sắm trên 1337_DaKL</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Liên hệ</a></li>
                            <li><a th:href="@{/login}">Đăng nhập</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Dịch vụ khách hàng</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Đảm bảo hoàn tiền!</a></li>
                            <li><a href="#">Trả lại</a></li>
                            <li><a href="#">Vận chuyển </a></li>
                            <li><a href="#">Điều khoản và điều lệnh</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản của tôi</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/login-client">Đăng nhập</a></li>
                            <li><a href="/cart">Xem giỏ hàng</a></li>
                            <li><a href="#">Hỗ trợ</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2024 1337_DaKL Store. </p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img th:src="@{/client/images/payments.png}" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->