<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layouts/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header th:replace="admin/layouts/header :: header"></header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside th:replace="admin/layouts/siderbar :: sider-bar"></aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <div>
        <div class="box">
            <div class="box-header">
            <h3 class="box-title">Quản lí loại hàng hóa</h3>
            <br>
            <a href="add-category">
            <button type="button" class="btn btn-info btn-xs" style="width: auto; padding: 5px 10px; white-space: nowrap;">Thêm loại hàng hóa</button>
            </a>
            </div>
            
            <div class="box-body no-padding">
            <table class="table table-striped">
            <tbody><tr>
            <th style="width: 10px">ID</th>
            <th>Tên loại sản phẩm</th>
            <th>Trạng thái hoạt động</th>
            <th style="width: 40px">Hành động</th>
            </tr>

            
            <tr th:each="category : ${list}">
              <td th:text="${category.id}" ></td>
              <td th:text="${category.categoryName}"></td>
              <td th:if="${category.categoryStatus}"><span class="label label-success">Đang hoạt động</span></td>
              <td th:if="${!category.categoryStatus}"><span class="label label-danger">Dừng hoạt động</span></td>
              <td><a class="btn btn-success" th:href="@{/admin/edit-category/{id}(id=${category.id})}">Chỉnh sửa</a>
                <a class="btn btn-danger" th:href="@{/admin/delete-category/{id}(id=${category.id})}" onclick="return confirm('Bạn chắc chắn không xóa không đấy. Suy nghĩ kĩ lại đi =))')">Xóa</a>
              </td>
              
              
            </tr>
            
            </tbody></table>
            <div class="pagination-container">
              <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
              </ul>
          </div>
          
          
            </div>
            
            </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="admin/layouts/footer :: footer"> </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
