<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layouts/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header th:replace="admin/layouts/header :: header"></header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside th:replace="admin/layouts/siderbar :: sider-bar"></aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <h3 class="box-title">Chỉnh sửa loại hàng hóa</h3>
    <form role="form" method="post" th:action="@{/admin/edit-category}" th:object="${category}">
        <input type="hidden" class="form-control" th:field="*{id}">
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Loại sản phẩm</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập loại sản phẩm" th:field="*{categoryName}">
        </div>
        <div class="form-group form-check form-check-inline">
          <label>
            <input type="radio" name="status" th:field="*{categoryStatus}" value="1" > Đang hoạt động
          </label>
          <label>
            <input type="radio" name="status" th:field="*{categoryStatus}" value="0"> Dừng hoạt động
          </label>
        </div>
      </div>
      
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Sửa</button>
      </div>
    </form>
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="admin/layouts/footer :: footer"> </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
