<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="admin/layouts/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header th:replace="admin/layouts/header :: header"></header>

  <!-- =============================================== -->
  Đây là trang quản trị của admin
  <!-- Left side column. contains the sidebar -->
  <aside th:replace="admin/layouts/siderbar :: sider-bar"></aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <div class="row">
          
          <div class="col-12">
            <!-- interactive chart -->
            <div class="card card-primary card-outline">
              
              
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="admin/layouts/footer :: footer"> </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
