<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layouts/head :: head">
    
</head>
<body>
    <div class="page-wrapper">
        <header th:replace="client/layouts/header"></header>
        
        <!-- Container cho các sản phẩm -->
        <h3 style="text-align: center; margin: 20px 0;">Tất cả sản phẩm của chúng tôi</h3>
        <div class="container mt-4">
            <div class="row">
                <!-- Lặp qua các sản phẩm -->
                <div class="col-md-3 col-sm-6" th:each="product : ${product}">
                    <div class="product">
                        <img th:src="@{/uploads/{imageName}(imageName=${product.image})}" alt="Sản phẩm">
                        <h2 th:text="${product.productName}"></h2>
                        <p class="price" th:text="${product.price}"></p>
                        <!-- Nút cho vào giỏ hàng và xem chi tiết -->
                        <div class="btn-container">
                            <button class="btn btn-add-to-cart">Mua</button>
                            <button class="btn btn-view-details">Chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="client/layouts/footer"></footer>
    </div><!-- End .page-wrapper -->
    <div th:replace="client/layouts/script :: script"></div>
</body>
</html>
