<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layouts/head :: head">
    
</head>
<body>
    <div class="page-wrapper">
        <header th:replace="client/layouts/header"></header>
        
        <!-- Container cho các sản phẩm -->
        <h3 style="text-align: center; margin: 20px 0;">Tất cả sản phẩm của chúng tôi</h3>
        <div class="container mt-4">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3" th:each="product : ${product}">
                    <div class="product product-3 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img th:src="@{/uploads/{imageName}(imageName=${product.image})}" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>Thêm vào danh sách yêu thích</span></a>
                            </div><!-- End .product-action-vertical -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html" th:text="${product.productName}"></a></h3><!-- End .product-title -->
                            <div class="product-price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} +  vnđ">
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->

                        <div class="product-action">
                            <form th:action="@{/add-to-cart/{id}(id=${product.productId})}" method="post">
                                <button type="submit" class="btn-product btn-cart" title="Add to cart" style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <span>Thêm vào giỏ hàng</span>
                                </button>

                            </form>
                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view">
                                <span>Chi tiết</span>
                            </a>
                        </div><!-- End .product-action -->

                    </div><!-- End .product -->
                </div><!-- End .col-6 col-md-4 col-lg-3 -->
            </div><!-- End .row -->
        </div>


        <footer th:replace="client/layouts/footer"></footer>
    </div><!-- End .page-wrapper -->
    <div th:replace="client/layouts/script :: script"></div>
</body>
</html>
