<div th:fragment="script">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/adminlte.min.js}"></script>
    <script th:src="@{/assets/js/dashboard.js}"></script>
    <script th:src="@{/assets/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/assets/tinymce/config.js}"></script>
    <script th:src="@{/assets/js/function.js}"></script>
</div>